body {
    background-image: url('img4');
    /*img 6 and img 4, check if we can restore quality*/
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

body img{
    opacity: 50%;
}

.center {
    margin: 24px 50px;
    /*background-color: rgb(240, 255, 255, 0.5);*/
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 1%;
    padding: 50px;
}

.button {
    font-size: 18px;
    border-radius: 30px;
    background-color: rgb(100, 54, 228);
    color: white;
    font-weight: bold;
    padding: 15px 20px;
    border-color: aliceblue;
    align-items: center;
    box-shadow: 30px;
    
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    /*   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
     font-family: 'Courier New', Courier, monospace;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif*/
}

.portalname {
    font-size: 50px;
    font-family: 'Merriweather', serif;
    font-weight: bold;
    color: brown;
}

.head0 {
    font-family: 'Roboto Slab', serif;
    font-size: 30px;
}

.head1 {
    /*font-family: 'Merriweather', serif;*/
    font-family: 'Roboto Slab', serif;
    font-size: 20px;
    font-style: italic;
}

.head2 {
    font-family: 'Merriweather', serif;
    font-size: 25px;
    margin-top: -2rem;

}

.container1 {
    padding: 60px;
}